$color-white:           #fff;
$default-bg:            #f3f3f3;
$default-bg-i:          #dcedf8;
$header-bg:             #dfdfdf;
$header-bg-i:           #cae3f4;
$mask-bg:               rgba(0,0,0,.4);

$txt-default:           #000;
$txt-color:             #3f99d8;
$txt-warning:           #fc2b07;
$txt-highlight:         #ff8444;
$txt-link:              #00a5e0;
$txt-feeds:             #314c83;
$text-gray:             #878787;

$line-height-base:      1.5; 
$line-height-s:         1.3; 
$line-height-txt:       24px;
$line-height-bar:       44px; 
$txt-padding-top:       10px;
$txt-padding-bottom:    10px;

$font-size-base:        14px;
$font-size-title:       16px;
$font-size-h1:          18px;
$font-size-default:     12px;


$border-color:          #e0e0e0;
$border-radius-base:    4px;
$border-radius-lg:      8px;

$active-bg:             #e5e6e7;
$active-opacity:        .5;


$botton-color:          #8dc01c;
$button-height:         30px;
$button-padding:        0 11px;
$button-min-width:      55px;
$button-size:           14px;
$button-border-radius:  5px;
$button-hot-area:       7px;
$button-bg-color:       #fdfdfd;
$button-bg-image:       -webkit-gradient(linear,left top, left bottom, color-stop(0.5, #fff), to(#fafafa));
$button-text:           rgb(141, 192, 28);
$button-border-color:   #cacccd;
$button-active-bg:      #f2f2f2;
$button-active-text:    rgba(141, 192, 28,.5);

$button-lg-height:                      44px;
$button-lg-size:                        18px;
$button-lg-border-radius:               5px; 

$button-s-width:                        55px;
$button-s-height:                       25px;
$button-s-size:                         13px;




// Z-Indexes
// -------------------------------
$z-index-placehold:                     -1;
$z-index-img:                           1;
$z-index-switch:                        2; 
$z-index-progress:                      9; 
$z-index-tag:                           9;
$z-index-border:                        10;
$z-index-notice:                        99;
$z-index-tooltips:                      99;
$z-index-head:                          100;
$z-index-poptips:                       999;
$z-index-overlay:                       9999;

.hidden{
  visibility: hidden;
}
.hide{
  display: none;
}
.error{
  color:red;
}
.no-data{
  text-align: center;
  color: gray;
  font-weight: bold;
  padding: 10px;
}
