<div class="hd clearfix">
    <h2 class="logo"><a href="#index">logo</a></h2>
    <ul class="hd-infor">
        <li class="client-num"><span>1</span>台设备连接</li>
        <li class="gx-border-1">|</li>
        <li class="yun-space">
            <span class="space-progress"><i id="progress-num"></i></span>
            <span><i class="currFileSize"></i>M/5G</span>
        </li>
        <li class="gx-border-1">|</li>
        <li class="more-language">
            <a href="javascript:;">简历中文</a>
        </li>
        <li class="yun-user">
            <a href="#user/login">登录</a>
            <a href="#user/register">注册</a>
            <!--<span><img class="user-avatar" src="img/use-header.png" alt=""/>1223344@qq.com</span>-->
            <div class="drop-list gx-hide">
                <a href="">下拉列表</a>
            </div>
        </li>
        <li>
            欢迎您，<b class="user-name"></b>&nbsp;&nbsp;<a id="home-login" href="javascript:;">退出</a>
        </li>
    </ul>
</div>
<div class="home-content">
    <ul class="man-nav">
        <li>
            <a href="#phoneBook">
                <img class="nav-icon" src="../img/mail-list.png" alt=""/>
                <span>通讯录</span>
            </a>
        </li>
        <li>
            <a href="#calllog">
                <img class="nav-icon" src="../img/mail-recode.png" alt=""/>
                <span>通话记录</span>
            </a>
        </li>
        <li>
            <a href="#message">
                <img class="nav-icon" src="../img/message.png" alt=""/>
                <span>短信</span>
            </a>
        </li>
        <li>
            <a href="#album">
                <img class="nav-icon" src="../img/album.png" alt=""/>
                <span>云相册</span>
            </a>
        </li>
        <li>
            <a href="#note">
                <img class="nav-icon" src="../img/sound-record.png" alt=""/>
                <span>便签</span>
            </a>
        </li>
        <li>
            <a href="#record">
                <img class="nav-icon" src="../img/mail-list.png" alt=""/>
                <span>录音</span>
            </a>
        </li>
    </ul>

</div>
<div class="ft ft-absolute">
    <p class="text-color">
        <a href="#user/service">《铂钰账户服务协议》</a>、<a href="#privacy/service">《铂钰隐私服务》</a>
    </p>
    <p>Copyright 2015 铂钰通讯技术有限公司 版权所有 保留一切权利 京ICP备15041470号</p>
</div>