<h2 class="logo"><a href="#index">logo</a></h2>
<div class="site-map gx-left">
  <a href="#">铂钰官网</a>
  <a href="#" class="curr">云服务</a>
</div>
<ul class="hd-infor">
  <li class="yun-user">
    <!--<a href="#user/login">登录</a>-->
    <!--<a href="#user/register">注册</a>-->
    <span><img class="user-avatar" src="../img/use-header.png" alt=""/>{%= !!$data.name ? $data.name : $data.phone %}</span>
    <div class="drop-list gx-hide">
      <!--<a href="">下拉列表</a>-->
      <a id="sign-out" href="javascript:;">注销账号</a>
    </div>
  </li>
</ul>

