<div class="hd clearfix">
    <h2 class="logo"><a href="#index">logo</a></h2>
</div>
<div class="login-content">
    <div class="login-box">
        <div class="yun-logo"><img src="../img/login-icon.png" alt="铂钰云服务"/></div>
        <h4>铂钰云服务</h4>
        <form id="defaultForm" class="ui-form">
            <div class="form-group">
                <i class="icon-form icon-user"></i>
                <input required type="text" id="userEmail" class="gx-textbox gx-textbox-pl" placeholder="铂钰账号／手机号码" name="phone"/>
            </div>
            <div class="form-group">
                <i class="icon-form icon-lock"></i>
                <input required type="password" id="userPWD" class="gx-textbox gx-textbox-pl" placeholder="请输入密码" name="pwd"/>
            </div>
            <div class="form-group">
                <div class="form-tips">
                    <span class="error-msg hidden">用户名或密码错误</span></div>
                <div class="forget-pwd">
                    <a href="#user/pwd/phoneReset">忘记密码？</a>
                </div>
            </div>
            <div class="form-group form-group-btn">
                <button type="button" class="gx-button gx-button-info gx-button-block" id="btn-login">登录</button>
            </div>
            <div class="form-group form-group-btn">
                <a class="gx-button gx-button-bordered gx-button-block" href="#user/register">注册铂钰账号</a>
            </div>
        </form>
    </div>
</div>

<div class="ft ft-absolute">
    <p class="text-color"><a href="">《铂钰账户服务协议》</a>、<a href="">《铂钰隐私服务》</a></p>
    <p>Copyright 2015 铂钰通讯技术有限公司 版权所有 保留一切权利 京ICP备15041470号</p>
</div>