<div class="hd inner-hd clearfix">
    <h2 class="logo"><a href="#index">logo</a></h2>
    <div class="site-map gx-left">
        <a href="#index">铂钰官网</a>
        <a href="#index" class="curr">云服务</a>
    </div>
    <ul class="hd-infor">
        <li class="yun-user">
            <!--<a href="#user/login">登录</a>-->
            <!--<a href="#user/register">注册</a>-->
            <span><img class="user-avatar" src="../img/use-header.png" alt=""/>1223344@qq.com</span>
            <div class="drop-list gx-hide">
                <a href="">下拉列表</a>
            </div>
        </li>
    </ul>
</div>

<div class="cloud-container clearfix">
    <!--侧边栏-->
    <div class="sidebar">
        <div class="sidebar-header-nav">
            <div class="header-nav-message gx-left"></div>
            <div class="header-nav-word gx-left menu-hover">
                <b>短信</b>
            </div>
            <!--弹窗-->
            <div class="sidebar-pop gx-hide menu-layer">
                <a href="#phoneBook">
                    <div class="pop-group">
                        <i class="header-nav-mailList"></i>
                        <span>通讯录</span>
                    </div>
                </a>
                <a href="#calllog">
                    <div class="pop-group">
                        <i class="header-nav-mailRecode"></i>
                        <span>通话记录</span>
                    </div>
                </a>
                <a href="javascript:;" class="hover">
                    <div class="pop-group">
                        <i class="header-nav-message"></i>
                        <span>短信</span>
                    </div>
                </a>
                <a href="#album">
                    <div class="pop-group">
                        <i class="header-nav-album"></i>
                        <span>云相册</span>
                    </div>
                </a>
                <a href="#note">
                    <div class="pop-group">
                        <i class="header-nav-textIcon"></i>
                        <span>便签</span>
                    </div>
                </a>
                <a href="#record">
                    <div class="pop-group">
                        <i class="header-nav-soundRecord"></i>
                        <span>录音</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="message-menu">
            <ul>
                <li class="curr"><a href="javascript:;">所有信息<span>(233)</span></a></li>
            </ul>
        </div>
    </div>
    <!--右侧-->
    <div class="mainbar">
        <div class="detail-content">
            <div class="col-left message-list">
                <div class="message-listbox">
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/use-header.png" alt=""/>
                        </dt>
                        <dd>
                            <div class="clearfix">
                                <span class="gx-left">10086</span>
                                <span class="msg-time gx-right">2015-12-22 03:11</span>
                            </div>
                            <div class="msg-infor gx-ellipsis">
                                温馨提示：aaa您的话费余额不足，请尽快充值。如已经充值如已经充值请如已经充值请
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-right">
                <div id="msg-dialog-container" class="msg-record">
                    <!--<div class="msg-record-hd clearfix">-->
                        <!--<dl class="msg-record-avatar gx-left">-->
                            <!--<dt><img src="../img/use-header.png" alt=""/></dt>-->
                            <!--<dd>10086</dd>-->
                        <!--</dl>-->
                        <!--<span class="msg-record-num gx-right">共4条</span>-->
                    <!--</div>-->
                    <!--<div class="msg-record-bd">-->
                        <!--<p class="msg-record-time">2013-12-33 03:11</p>-->
                        <!--<ul class="msg-record-infor">-->
                            <!--<li class="msg-in">-->
                                <!--<i class="msg-list-icon"></i>-->
                                <!--<div class="msg-record-box">-->
                                    <!--<span class="arrow"></span>-->
                                    <!--<p>-->
                                        <!--温馨提示：您的话费余额不足，请尽快充值。如已经充值请忽略本消息。如需查询余-->
                                        <!--额请回复“CXYE”至10086。-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="msg-out">-->
                                <!--<img class="msg-list-icon" alt="" src="../img/pic-selected.png">-->
                                <!--<div class="msg-record-box">-->
                                    <!--<span class="arrow"></span>-->
                                    <!--<p>-->
                                        <!--CXYE-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="msg-in">-->
                                <!--<i class="msg-list-icon"></i>-->
                                <!--<div class="msg-record-box">-->
                                    <!--<span class="arrow"></span>-->
                                    <!--<p>-->
                                        <!--你好？-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="msg-out">-->
                                <!--<img class="msg-list-icon" alt="" src="../img/pic-selected.png">-->
                                <!--<div class="msg-record-box">-->
                                    <!--<span class="arrow"></span>-->
                                    <!--<p>-->
                                        <!--哈哈哈哈，小二！-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="no-data">-->
                                    <!--暂无数据-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="msg-list-tpl">
    {%
    var item = {};
    for(var i=0,j=$data.length; i < j; i++) {
    item = $data[i];
    %}
    <dl class="message-item" data-id="{%=item.id%}" data-name="{%=item.name%}">
        <dt>
            <img src="../img/use-header.png" alt=""/>
        </dt>
        <dd>
            <div class="clearfix">
                <span class="gx-left">{%=item.name%}</span>
                <span class="msg-time gx-right">{%=item.time.toLocaleDateString()%}</span>
            </div>
            <div class="msg-infor gx-ellipsis">
                {%=item.message%}
            </div>
        </dd>
    </dl>
    {%
    }
    if($data.length <= 0) {
    %}
    <dl>
        <dd>暂无数据</dd>
    </dl>
    {%
    }
    %}
</script>

<script type="text/x-dot-template" id="msg-record-tpl">

    {%
    console.log($data);

    %}
    <div class="msg-record-hd clearfix">
        <dl class="msg-record-avatar gx-left">
            <dt><img src="../img/use-header.png" alt=""/></dt>
            <dd>{%=$data.to.name%}</dd>
        </dl>
        <span class="msg-record-num gx-right">共{%=$data.list.length %}条</span>
    </div>
    <div class="msg-record-bd">
        <p class="msg-record-time">2013-12-33 03:11</p>
        <ul class="msg-record-infor">
            {%
            var item = null;
            for(var i = 0, j = $data.list.length; i < j; i++){
            item = $data.list[i];
            %}
            <li class="msg-in">
                <i class="msg-list-icon"></i>
                <div class="msg-record-box">
                    <span class="arrow"></span>
                    <p>
                        温馨提示：您的话费余额不足，请尽快充值。如已经充值请忽略本消息。如需查询余
                        额请回复“CXYE”至10086。
                    </p>
                </div>
            </li>
            <li class="msg-out">
                <img class="msg-list-icon" alt="" src="../img/pic-selected.png">
                <div class="msg-record-box">
                    <span class="arrow"></span>
                    <p>
                        CXYE
                    </p>
                </div>
            </li>
            {%
            }
            if($data.list.length <= 0){
            %}
            <li>
                <div class="no-data">
                    暂无数据
                </div>
            </li>
            {%
            }
            %}
        </ul>
    </div>
</script>