<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>隐私条款</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Global-x:F2E">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="icon" type="image/png" href="../img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../img/android-chrome-192x192.png" sizes="192x192">
    <link href="../css/app.css" rel="stylesheet">
</head>
<body style="background: #f3f3f3;">
<div class="agreement-wap">
    <div class="agreemnt">
        <h2>隐私条款</h2>
        <p class="text-indent">您可以通过多种不同的方式使用我们的服务，例如登录铂钰官网购买铂钰产品、使用铂钰产品、服务等。如果您与我们分享信息（例如，通过创建一个铂钰账号），我们就能为您提供更好的服务，如显示相关程度更高的产品更新和广告、帮助您与他人联系或者更轻松快捷地与他人分享内容等。基于此目的，我们将向您解释我们对信息的收集和使用方式，以及您可采用什么方式来保护自己的隐私权。
            我们的隐私政策包括了以下几个方面的问题：</p>
        <b>我们收集哪些信息。</b>
        <b>我们如何收集和使用这些信息。</b>
        <b>您如何选择性提供这些信息，以及如何访问和更新这些信息。</b>
        <b>信息的分享、安全以及隐私政策的适用范围和修订。</b>
        <h3>我们收集的信息</h3>
        <p>我们收集您的两种信息：<span>个人信息（与特定自然人相关、能够与其他信息结合识别该特定自然人的数据）</span>和<span> 非个人信息（除个人信息之外的数据）</span>。如果我们将非个人信息与个人信息通过技术手段关联并进行合并，在上述信息保持合并的期间内，此类信息将被视为个人信息。</p>
        <h2>我们如何收集和使用这些信息</h2>
        <h3>个人信息的收集和使用</h3>
        <b>您与铂钰公司及其关联公司（以下简称"<strong>铂钰</strong>"）及其运营合作单位（以下简称"<strong>合作单位</strong>"）进行互动时，您可能会被询问是否同意提供使用我们基本产品服务所必需的某些个人信息。该个人信息可能与其他信息合并在一起，被用于改进我们的产品或服务等。
            下文是铂钰可能收集的个人信息的类型以及我们如何使用该信息的一些示例。</b>
        <h3>个人信息的收集</h3>
        <b><strong>当您创建铂钰账户、申请商业信贷、管理预定、下载及更新铂钰软件、在铂钰手机在线零售店注册、参加在线调查或者参加其他与铂钰公司的互动时，</strong>我们会要求您提供个人信息，包括但不限于您的姓名、电话号码、电子邮件地址、邮寄地址等。</b>
        <b><strong>当您购买铂钰产品和服务时，</strong>我们会收集有关个人信息，包括但不限于：交货详情、银行帐号、信用卡详情、账单地址、信用核查以及其他财务信息、联系及交流的记录等。</b>
        <b><strong>当您使用铂钰产品与家人和朋友分享您的内容、发送信息和产品或者在铂钰论坛上邀请其他人时，</strong>铂钰会收集您提供的与上述人士有关的个人信息，如姓名、邮寄地址、电子邮件地址及电话号码等。</b>
        <b><strong>当您自行使用某些服务（例如：邀请其他用户加入有关服务、分享信息给其他用户等）时，</strong>其他用户是可以看到您分享的个人信息的，而且他们/她们可以读取、采集或使用这些信息。对于您自行上传/分享的个人信息所产生的法律纠纷，您应自行承担相应法律责任。</b>
        <b><strong>当您登录铂钰账号或激活网络通讯（网络电话、网络短信）服务时，</strong>您的移动用户识别信息、您的电话号码将被发送给服务器。</b>
        <h3>个人信息的使用</h3>
        <b>铂钰将严格遵守本隐私政策及其更新所载明的内容来使用您的个人信息。您的个人信息将仅用于收集时即已确定并且经过您同意的目的，如有除此之外的任何其他用途，我们都会提前征得您的同意。</b>
        <b><strong>我们收集的个人信息可能被用于向您提供铂钰的产品和服务、处理您的订单或履行您与铂钰之间的合同，</strong>以确保我们产品和服务的功能和安全、验证您的身份、防止并追究欺诈或其他不当使用的情形。</b>
        <b><strong>我们收集的个人信息可能被用于我们的产品和服务开发，</strong>尽管一般情况下，我们为此目的仅使用综合信息和统计性信息。</b>
        <b><strong>我们收集的个人信息可能被用于与您进行交流，</strong>例如，在铂钰产品或服务更新、发布的第一时间向您发出通知。</b>
        <b><strong>我们所收集的个人信息可能被用于进行产品的个性化设计，</strong>并向您提供更为贴身的服务，例如：在我们的服务中进行推荐、展示专为您打造的内容和广告或者用于调研。</b>
        <b>如果您参与铂钰举办的抽奖、竞赛或类似推广活动，<strong>我们可能将您提供的个人信息用于管理此类活动。</strong></b>
        <b><strong>您的移动用户识别信息、移动设备唯一识别码和地理位置信息可被用来激活您的保修服务和特定的软件许可，</strong>并可能邀请您参加调查。我们也会使用此等信息用于改善我们的产品和分析我们业务运营的效率。但我们不会用此等信息来追踪您的位置情况。</b>
        <b><strong>我们可能会使用你的个人信息 (例如出生日期) 来验证身份、协助识别用户，以及确定适当的服务。</strong>例如，我们可能会使用出生日期来确定铂钰帐户持有人的身份。</b>
        <b><strong>有时，我们可能会使用个人信息发送重要通知，</strong>例如关于购买的相关信息以及条款、条件和政策的变更。由于这些信息对你与铂钰公司之间的沟通至关重要，你不能拒绝接收此类信息。</b>
        <h3>非个人信息的收集和使用</h3>
        <b>同时，为了运营和改善铂钰的技术和服务，铂钰可能会自行收集使用您的非个人信息，这将有助于铂钰向您提供更好的用户体验和提高铂钰的服务质量。
            下文是我们可能收集的非个人信息以及我们如何使用该信息的一些示例。</b>
        <b>非个人信息的收集</b>
        <b>当您创建铂钰账户、下载铂钰软件及其更新、在铂钰手机在线零售店注册、参加在线调查或者参加其他与铂钰公司的互动时，我们会收集您的诸如职业、语言、邮编、区号以及使用铂钰产品所在的时区等信息。</b>
        <b><strong>使用习惯和发现问题相关的信息</strong>——当您加入铂钰"用户体验改进计划"时，我们会根据需要匿名统计您对产品的各项功能使用情况，从而收集您对铂钰官网、产品和服务的使用习惯相关的信息。而且当系统发生非正常退出和崩溃时，我们会收集便于诊断问题的手机当前环境信息。</b>
        <b><strong>服务器端记录的有关信息</strong>——当您使用主题商店、语音助手、浏览器等服务或功能时，铂钰可能会收集服务器端记录的有关您所使用的服务或功能的信息，如上传、下载、同步、浏览等用户使用行为相关的数据。这些数据被视为非个人信息。</b>
        <b><strong>位置信息</strong>——当您使用基于位置信息的程序服务或功能时，我们可能会收集您的地理位置信息。例如：当您进行基于位置的搜索、使用基于位置的广告、利用位置优化天气功能或索取地图信息时，您的位置信息可能被发回铂钰，以便铂钰向您提供正确的内容。</b>
        <b><strong>Cookies和其他技术收集的信息</strong>——铂钰的网站、在线服务、互动应用软件、电子邮件消息和广告宣传可能会使用cookies以及如像素标签和网站信标的其他技术来收集和存储您的非个人信息。</b>
        <b><strong>日志信息</strong>——当您访问铂钰服务器时，我们的服务器会自动记录某些日志信息。这类服务器日志信息可能包含如下信息：IP 地址、浏览器类型、浏览器语言、 refer来源页、操作系统、日期/时间标记和点击流数据。</b>
        <b><strong>移动设备唯一识别码</strong>——当您首次使用并激活铂钰移动设备时，该移动设备唯一识别码以及大概地理位置信息（非个人信息）将被发送给服务器。上述信息的收集也可能适用于您更新系统或软件、恢复出厂设置等情况。</b>
        <h3>非个人信息的使用</h3>
        <b>我们收集的诸如职业、语言、邮编、区号以及使用铂钰产品所在的时区等非个人信息，<strong>可以帮助我们更好地了解用户行为，改进我们的产品、服务和广告宣传。</strong></b>
        <b>我们可以通过分析铂钰"用户体验改进计划"获取的统计<strong>数据来持续不断地提升产品和服务的操作体验、运行性能、修复问题、改善功能设计等。</strong></b>
        <b>我们通过使用 cookies 和其他技术（例如像素标签）收集到的信息，<strong>为您带来更好的用户体验，</strong>并提高我们的总体服务品质。例如，通过保存您的语言偏好设置，我们可以用您的首选语言显示我们的服务。我们可以通过使用像素标签向用户发送可阅读格式的电子邮件，并告知我们邮件是否被打开。我们可将此等信息用于减少向用户发送电子邮件或者不向用户发送电子邮件。</b>
        <h3>用户如何选择性提供信息</h3>
        <p>每个人对于隐私权的关注各有侧重，基于此，我们将明确指出我们收集信息的方式，以便您选择接受信息的提供方式。</p>
        <b>您可以自由设定是否加入"用户体验改进计划"，即可以通过关闭"用户体验改进计划"项的开关从而退出该计划。</b>
        <b>您可以从设备设置上修改您设备的定位设置，例如：变更或禁用定位方法或定位服务器，或修改您位置信息的准确性，从而改变向铂钰提供的位置信息。</b>
        <b>您可以根据自己的需要来修改浏览器的设置以拒绝或接受 cookies，也可以随时从您存储设备中将其删除，或者在写入cookies时通知您。</b>
        <h3>个人信息的访问和更新</h3>
        <b>通过点击<a href="http://www.broeu.com">http://www.broeu.com</a>来登录你的账户，您能够访问并更新自己的个人信息，您也可以删除部分个人信息或者要求我们删除您的个人账户，除非我们出于法律方面的原因而必须保留这些信息。</b>
        <b>无论您在何时使用我们的服务，我们都力求让您能够访问自己的个人信息。如果这些信息有误，我们会努力通过各种方式让您快速更新信息或删除信息（除非我们出于合法业务或法律方面的原因而必须保留这些信息）。在更新您的个人信息时，我们可能会要求您先验证自己的身份，然后再处理您的请求。</b>
        <b>对于那些无端重复、对他人隐私权造成风险或者非常不切实际的请求，我们可能予以拒绝。</b>
        <b>只要我们能够让您访问和修改信息，而且其不需要过多投入，则我们会免费提供。我们力求对服务进行完善的维护，以保护信息免遭意外或恶意的破坏。因此，当您从我们的服务中删除信息后，我们可能不会立即从在用的服务器中删除这些信息的残留副本，也可能不会从备份系统中删除相应的信息。</b>
        <h3>和第三方分享信息</h3>
        <p>除非本隐私政策载明的有限共享，我们会严格保密您的个人信息并不会向第三方共享您的个人信息。</p>
        <p>您于此授权，以下情形我们可能会向第三方共享您的个人信息而无需通过您的同意：</p>
        <b>我们因法律调查、诉讼、强制执行或其它法律强制性规定或要求，而同第三方共享这些个人信息。</b>
        <b>我们将个人信息提供给我方关联公司或其他可信赖的企业或个人，以便其代表我方处理上述。我们要求上述各方同意按照我们的规定、本隐私权政策以及其他任何适用的保密和安全措施来处理这些个人信息。</b>
        <b>如果我们发生重组、合并或出售，则我们在将我们收集的一切个人信息进行转让之前，继续按照现行的隐私政策约束来保证其秘密性并会通知所有受到影响的用户。</b>
        <p>我们可能会基于经营或保护用户的需要，如为了展示我们产品或服务的整体使用趋势，同公众以及合作伙伴合理地分享汇总的非个人信息。</p>
        <h3>信息安全</h3>
        <p>我们努力为铂钰的用户提供保护，以免我们保存的信息在未经授权的情况下被访问、篡改、披露或破坏。为此，我们特别采取了以下措施：</p>
        <p>我们使用 SSL 对许多服务进行加密。一期添加了ssl方式了么？</p>
        <p>我们会审查信息收集、存储和处理方面的做法（包括物理性安全措施），以避免各种系统遭到未经授权的访问。</p>
        <p>我们只允许那些为了帮我们处理个人信息而需要知晓这些信息的铂钰员工、授权代为处理服务公司的人员访问个人信息，而且他们需要履行严格的合同保密义务，如果其未能履行这些义务，就可能会被追究法律责任或被终止其与铂钰的关系。</p>
        <p>对我们来说，您的信息的安全非常重要。因此，我们将不断努力保障您的个人信息安全，并实施存储和传输全程安全加密等保障手段，以免您的信息在未经授权的情况下被访问、使用或披露。同时某些加密数据的具体内容，除了用户自己，其他人都无权访问。</p>
        <h3>隐私政策的适用范围</h3>
        <p>我们的隐私政策不适用于第三方产品和/或服务。铂钰的产品和服务中可能含有第三方产品和服务，当您使用第三方产品或接收第三方服务时，他们可能获取您的信息，因此，我们在此提醒您注意阅读第三方的隐私政策。</p>
        <p>同时，本隐私政策不适用于在您点击链接后的外部网站收集数据的行为。</p>
        <h3>对儿童个人信息的收集和使用</h3>
        <p>我们建议14周岁以下的儿童在其法定监护人的许可和指导下使用铂钰产品或服务。</p>
        <p class="red">铂钰不会在明知对方为儿童的情况下收集其个人信息，也不会向任何第三方透露其个人信息，监护人有权拒绝铂钰及其关联公司进一步收集被监护人的个人信息，或要求铂钰及其关联公司删除该被监护人个人信息。如果我们发现我们收集了年龄不满14周岁的儿童的个人信息，我们将采取措施尽快地删除此等信息。</p>
        <h3>本隐私政策的修订</h3>
        <p>本隐私政策容许调整，未经您明示同意，我们不会削弱您按照本隐私权政策所应享有的权利，除非通过您提供的电子邮件地址向您发送通知或发布网站公告。</p>
        <h3>特定产品服务的惯例</h3>
        <p>以下备注了您可能使用的某些铂钰产品和服务的特定隐私权惯例。</p>
        <h3>铂钰账号服务</h3>
        <p>您在使用铂钰账号服务的产品、服务和网站（合称"铂钰账号服务"）时，也将适用本《隐私政策》中的条款。</p>
        <p>铂钰公司是铂钰账号服务的提供商，通过铂钰账号，您可以使用的功能包括但不限于铂钰云同步功能、找回手机功能。一旦您登录铂钰账号，我们将收集您的手机号、移动用户识别信息和移动设备唯一识别码，并且我们将您的非个人信息与个人信息合并在一起，在保持合并的期间内，此类信息将被视为个人信息。</p>
        <p>您进一步同意，基于向您提供本服务和其中任何功能的目的，铂钰公司可收集、使用、传输、处理和维护与您帐号有关的信息，以及与登记在帐户下的任何设备或电脑有关的信息。在您使用本服务时铂钰公司收集的信息，还可能包括与您的使用有关的或因您的使用而产生的、铂钰公司可能用以支持、改善和提升铂钰公司产品和服务的技术性、统计性或诊断性信息。</p>
        <p>您可以随时撤销此项同意，只需不使用铂钰账号功能并注销您设备和电脑上的铂钰账号功能。</p>
        <h3>铂钰云服务</h3>
        <p>您在使用铂钰云服务的产品、服务和网站（合称"铂钰云服务"）时，也将适用本《隐私政策》中的条款。</p>
        <p>铂钰公司是铂钰云服务的提供商，通过铂钰云服务您可以使用某些互联网服务，包括将您的个人内容（如短信、联系人、照片、截图、便签、电子邮件、日历等）存放在您的兼容设备和电脑上并供访问。当您在使用铂钰云同步找回手机服务时，会上传的个人信息中也包括位置信息。一旦您启用铂钰云服务，您的个人内容将被自动发送给铂钰公司并由铂钰公司存储，之后您就可访问该等信息或以无线方式将信息推送至您的其他启用铂钰云服务功能的设备或电脑上。</p>
        <p>如果您在支持SIM卡功能的终端设备（例如，手机）上启用了"查找手机"（Find The Phone）功能，系统可能会在您插入或者更换SIM卡时自动在后台发送一条短信到铂钰公司的服务器（短信费用由运营商收取），并将您的电话号码存储在服务器中。</p>
        <p>您可以随时撤销此项同意，只需不使用铂钰云同步功能并关掉您设备和电脑上的找回手机功能和铂钰云同步功能。</p>
    </div>
</div>
</body>
</html>