<div class="hd inner-hd clearfix">
    <h2 class="logo"><a href="#index">logo</a></h2>
</div>

<div class="user-box forgetPWD-content">
    <h4 class="user-hd">密保找回密码</h4>
    <div class="user-bd">
        <form id="qaResetPwdForm" class="gx-form">
            <div class="form-box">
                <div class="form-group">
                    <input type="text" id="userPhone" class="gx-textbox" placeholder="铂钰账号/手机号码" name="Phone"/>
                    <div class="phone-tips">
                        <a href="#user/pwd/phoneReset">使用手机找回密码？</a>
                    </div>
                    <div class="form-tips form-h18"></div>
                </div>
                <div class="form-group">
                    <input type="text" id="imgCode" class="gx-textbox code-textbox" placeholder="请输入图片验证码" name="imgCode"/>
                    <img alt="图片验证码" title="看不清换一张" class="code-image" src="/Account/CaptchaImage">
                    <div class="form-tips"></div>
                </div>
                <div class="form-group form-group-btn">
                    <button type="button" class="gx-button gx-button-info gx-button-block J_next_1">下一步</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="user-box qa-content gx-hide">
    <h4 class="user-hd">密保找回密码</h4>
    <div class="setting-title">
        <p>请回答您的安全提示问题。</p>
    </div>
    <div class="user-bd">
        <form id="qaForm" class="gx-form">
            <div id="qa-view" class="form-box">
            </div>
            <script id="qa-tmpl" type="text/x-dot-template">
                {%if($data.code == 0){%}
                <div class="form-group">
                    {% for (var i = 0, l = $data.data.length; i < l; i++) { %}
                    {%if($data.data[i].id == 1){%}
                    <input type="text" class="gx-textbox" value="{%! $data.data[i].question %}" disabled="disabled"/>
                    <input type="hidden" id="userQuestion1" name="userQuestion1" value="{%! $data.data[i].id %}"/>
                    {% } %}
                    {% } %}
                </div>
                <div class="form-group">
                    <input type="text" id="userAnswers1" class="gx-textbox" placeholder="请输入答案" name="userAnswers1"/>
                    <div class="form-tips"></div>
                </div>
                <div class="form-group">
                    {% for (var i = 0, l = $data.data.length; i < l; i++) { %}
                    {%if($data.data[i].id == 2){%}
                    <input type="text" id="2" name="2" class="gx-textbox" value="{%! $data.data[i].question %}" disabled="disabled"/>
                    <input type="hidden" id="userQuestion2" name="userQuestion2" value="{%! $data.data[i].id %}"/>
                    {% } %}
                    {% } %}
                </div>
                <div class="form-group">
                    <input type="text" id="userAnswers2" class="gx-textbox" placeholder="请输入答案" name="userAnswers2"/>
                    <div class="form-tips"></div>
                </div>
                <div class="form-group form-group-btn">
                    <button type="button" class="gx-button gx-button-info gx-button-block J_next_2">下一步</button>
                </div>
                <div class="form-group">
                    <button type="button" class="gx-button gx-button-bordered gx-button-block J_back">返回</button>
                </div>
                {% }else{ %}
                <p>暂无数据</p>
                {%}%}
            </script>

        </form>
    </div>
</div>

<div class="user-box settingPWD-content gx-hide">
    <h4 class="user-hd">重置密码</h4>
    <div class="setting-title">
        <p>请重设您的账号密码</p>
    </div>
    <div class="user-bd">
        <form id="settingPwdForm" class="gx-form">
            <div class="form-box">
                <div class="form-group">
                    <i class="icon-form icon-lock"></i>
                    <input type="password" id="newPwd" class="gx-textbox gx-textbox-pl" placeholder="请输入密码" name="newPwd"/>
                    <div class="form-tips"></div>
                </div>
                <div class="form-group">
                    <i class="icon-form icon-lock"></i>
                    <input type="password" id="sureNewPwd" class="gx-textbox gx-textbox-pl" placeholder="请确认密码" name="sureNewPwd"/>
                    <div class="form-tips">
                        <p>密码长度8~16位，数字、字母、字符至少包含两种</p>
                    </div>
                </div>
                <div class="form-group form-group-btn">
                    <button type="button" class="gx-button gx-button-info gx-button-block J_sure">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="user-box successPWD-content gx-hide">
    <h4 class="user-hd">重置密码</h4>
    <div class="user-bd">
        <div class="resetPwd-success">
            <div class="success-icon">
                <span>密码修改成功</span>
            </div>
            <div class="gx-btnBar">
                <a class="gx-button gx-button-info gx-button-block" href="#login">去登录</a>
            </div>
        </div>
    </div>
</div>


<div class="ft">
    <p class="text-color"><a href="">《铂钰账户服务协议》</a>、<a href="">《铂钰隐私服务》</a></p>
    <p>Copyright 2015 铂钰通讯技术有限公司 版权所有 保留一切权利 京ICP备15041470号</p>
</div>