<div class="hd inner-hd clearfix">
    <h2 class="logo"><a href="#index">logo</a></h2>
    <div class="site-map gx-left">
        <a href="#">铂钰官网</a>
        <a href="#" class="curr">云服务</a>
    </div>
    <ul class="hd-infor">
        <li class="yun-user">
            <!--<a href="#user/login">登录</a>-->
            <!--<a href="#user/register">注册</a>-->
            <span><img class="user-avatar" src="../img/use-header.png" alt=""/>1223344@qq.com</span>
            <div class="drop-list gx-hide">
                <a href="">下拉列表</a>
            </div>
        </li>
    </ul>
</div>
<div class="cloud-container clearfix">
    <!--侧边栏-->
    <div class="sidebar">
        <div class="sidebar-header-nav">
            <div class="header-nav-message gx-left"></div>
            <div class="header-nav-word gx-left menu-hover">
                <b>录音</b>
            </div>
            <!--弹窗-->
            <div class="sidebar-pop gx-hide menu-layer">
                <a href="#phoneBook">
                    <div class="pop-group">
                        <i class="header-nav-mailList"></i>
                        <span>通讯录</span>
                    </div>
                </a>
                <a href="#calllog">
                    <div class="pop-group">
                        <i class="header-nav-mailRecode"></i>
                        <span>通话记录</span>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="pop-group">
                        <i class="header-nav-message"></i>
                        <span>短信</span>
                    </div>
                </a>
                <a href="#album">
                    <div class="pop-group">
                        <i class="header-nav-album"></i>
                        <span>云相册</span>
                    </div>
                </a>
                <a href="#note">
                    <div class="pop-group">
                        <i class="header-nav-textIcon"></i>
                        <span>便签</span>
                    </div>
                </a>
                <a href="#record" class="hover">
                    <div class="pop-group">
                        <i class="header-nav-soundRecord"></i>
                        <span>录音</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="sidebar-header-center">
            <div class="mail-list-name">
                <div id="record-num" class="mail-list-left hover">全部录音(<span></span>)</div>
            </div>
            <script id="num-tmpl" type="text/x-dot-template">
                {%!$data.data %}
            </script>
        </div>
    </div>
    <!--右侧-->
    <div class="mainbar">
        <div class="detail-content">
            <div id="record-view" class="of-y">
                <div class="record-list"></div>
                <div class="loadingMore">
                    <a href="javascript:;" data-num="1">加载更多</a>
                </div>
            </div>
            <script id="record-tmpl" type="text/x-dot-template">
                {%if($data.length >=0 ){%}
                {%for (var i = 0, l = $data.length; i < l; i++){%}
                <div class="call-record-sound">
                    <ul>
                        {%
                        var item = $data[i].newFilesModelList;
                        for (var j = 0, l = item.length; j < l; j++){
                        %}
                        <li class="record-item" data-fid="{%!item[j].fid%}" data-path="{%!item[j].path%}" data-name="{%!item[j].fileName%}">
                            <div class="call-record-sound-first">
                                <i class="call-record-sound-icon"></i>
                                <span>{%!item[j].fileName%}</span>
                            </div>
                            <div class="call-record-sound-two">
                                <span class="record-time">{%!$data[i].ctime%}</span>
                                <!--<span>01:12:12</span>-->
                            </div>
                        </li>
                        {%}%}
                    </ul>
                </div>
                {%}%}
                {% }else{ %}
                <div class="no-content">
                    <p>暂无录音</p>
                </div>
                {%}%}
            </script>
            <div class="album-btn">
                <a class="download-btn" href="javascript:;">下载</a>
                <a class="del-btn" href="javascript:;">删除</a>
            </div>
        </div>
    </div>
</div>